*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
:root{
    --main-yello-color: #FFC600;
    --main-green-color:   #00778B;
    --main-text-heading-color: #303030;
    --main-backgroun-text-color: #ffffff;
    --main-header-button-color: #3E3E3E;
    --main-button-color: #2D2926;
    --main-section-bg: #F3F3F3;
    --main-copyright-color: #333333;
}
@font-face {
    font-family: 'Nexa Light';
    src: url(../fonts/nexa-light.otf);
}
@font-face {
    font-family: 'Nexa Bold';
    src: url(../fonts/nexa-bold.otf);
}
@font-face {
    font-family: 'Arial Rounded MT Bold';
    src: url(../fonts/arlrdbd.TTF);
}
@font-face {
    font-family: 'Arial-Rounded';
    src: url(../fonts/unicode.arialr.ttf);
}
@font-face {
    font-family: 'Arial Rounded MT';
    src: url(../fonts/arial-rounded-mt-light.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat-regular.otf);
}
.navigatioWrapper{
    position: relative;
    height: 125px;
}
.navigationBg{
  background: #1B2221;
  opacity: 90%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.navigationItems{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.navigationItemsInner{
width: 1153px;
margin: 0 auto;
height: 125px;
display: flex;
justify-content: center;
align-items: center;
}
.HeaderInner{
    width: 100%;
    background: url('../images/header.png');
    height: 871px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aspireLogo{
    width: 15%;
}
.aspireLogo img{
    width: 104.58px;
    height: 93.03px;
}
.backToWebsite{
width: 60%;
}
.backToWebsite a{
    background: transparent;
    border: 1px solid var(--main-yello-color);
    color: var(--main-backgroun-text-color);
    font-size: 17px;
    padding: 8px 17px;
    border-radius: 50px;
    text-decoration: none;
    font-family: 'Nexa Light';
}
.loginButton{
    width: 25%;
    text-align: end;
}
.loginButton a{
    background: var(--main-yello-color);
    border: 1px solid var(--main-yello-color);
    color: var(--main-header-button-color);
    font-size: 17px;
    padding: 8px 17px;
    border-radius: 50px;
    text-decoration: none; 
    font-family: 'Montserrat';
}
.menuMobileOpenIcon img{
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
}
.bannerContent{
    width: 1215px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.heroImage img {
    height: 530.7px;
    width: 530.35px;
    margin-top: -4%;

}
.formSection{
    width: 100%;
    background: var(--main-backgroun-text-color);
    padding: 7% 5%;
    border-radius: 10px;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.25);
}
.formSection h3{
    font-size: 38px;
    color: var(--main-text-heading-color);
    font-family: 'Arial Rounded MT Bold';
}
.formSection h2{
    font-size: 55px;
    color: var(--main-yello-color);
    font-family: 'Arial Rounded MT Bold';
}
.formSection p{
    font-size: 22px;
    font-family: 'Arial-Rounded';
    color: var(--main-text-heading-color);
    /* width: 98%; */
    letter-spacing: 2px;
}
.formSection h4{
    font-size: 28px;
    font-family: 'Arial Rounded MT Bold';
    color: var(--main-text-heading-color);
    margin-top: 30px;
}

.heroForm{
    margin-top: 15px;
}
.heroForm input{
border: none;
font-family: 'Arial-Rounded';
font-size: 18px;
outline: none;
color: var(--main-text-heading-color);
margin: 0px 10px;
}

.heroForm span{
    font-family: 'Arial-Rounded';
    font-size: 18px;
   color: var(--main-text-heading-color);
   letter-spacing: 1px;
    }
    .formBtn{
    display: block;
    padding: 15px 40px;
    background: var(--main-yello-color);
    color: var(--main-button-color) !important;
    margin: 40px 0px 0px 0px !important;
    border-radius: 50px;
    letter-spacing: 1px;
    }

    .sectionOneContainer{
        width: 1170px;
        margin: -5% auto 0 auto;
        background: var(--main-backgroun-text-color);
        padding: 2% 3%;
        border-radius: 10px;
        box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.25);
    }
    .sectionOneContentPart{
        padding: 0 0 0 6%;
    }

/* Header Css end */

/* section one css start */
.sectionOneImagePart {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sectionOneImagePart img{
width: 265.94px;
height: 265.08px;
}
/* .sectionOneContentPart{
    width: 95%;
} */
.sectionOneContentPart h4{
    font-size: 28px;
    font-family: 'Arial Rounded MT Bold';
    color: var(--main-yello-color);
}
.sectionOneContentPart p{
    font-size: 16px;
    color: var(--main-text-heading-color);
    font-family: 'Arial-Rounded';
    line-height: 1.7em;
    letter-spacing: 1px;
}

.setionOneSecondPara {
        font-size: 20px !important;
        color: var(--main-text-heading-color) !important;
        font-family: 'Arial-Rounded'!important;
        line-height: 1.7em !important;
}

.setionOneThirdPara{
    font-size: 20px;
    color: var(--main-text-heading-color);
    font-family: 'Arial-Rounded';
    line-height: 1.7em; 
}
/* section one css end */

/* section two css start */
.sectionTwoContainer{
 width: 1170px;
 margin: 5% auto;
}
.sectionTwoContentPart h3{
    font-size: 45px;
    font-family: 'Arial Rounded MT Bold';
    color: var(--main-text-heading-color);
}
.sectionTwoContentPart p{
    font-size: 18px;
    font-family: 'Arial-Rounded';
    /* width: 92%; */
    line-height: 2.2em;
    margin-top: 3%;
    letter-spacing: 1px;
}
/* section two css end */

/* section three css start */
.sectionThreeContainer{
    width: 1170px;
    margin: 5% auto; 
}
.sectionThreeContentPart h3{
    font-size: 45px;
    font-family: 'Arial Rounded MT Bold';
    color: var(--main-text-heading-color);
}
.sectionThreeContentBg ul {
    margin: 0 3%;
}
.sectionThreeImagePart img{
    position: absolute;
    width: 113.94px;
    height: 114px;
}
.sectionThreeContentBg h4{
font-size: 28px;
color: var(--main-backgroun-text-color);
font-family: 'Arial Rounded MT Bold';
background: var(--main-text-heading-color);
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
padding: 1% 3%;
margin: 3.2% 0%;
}
.sectionThreeContentBg ul li{
list-style: none;
font-size: 20px;
font-family: 'Arial-Rounded';
color: var(--main-text-heading-color);
line-height: 2em;
letter-spacing: 1px;
}
/* section three css end */

/* section four css start */
.sectionFourParent{
background: var(--main-section-bg);
margin-top: 5%;
padding: 5% 0;
}
.pricingBox {
    background: var(--main-backgroun-text-color);
    padding: 0 0 12% 0;
    border-radius: 10px;
    box-shadow: 2px 3px 20px rgb(0 0 0 / 25%);
}
.pricingheadParent{
    display: flex;
    background: var(--main-yello-color);
    width: 100%;
    border-radius: 10px;
    padding: 4% 0;
    box-shadow: 2px 3px 12px rgb(0 0 0 / 25%);
}
.pricingHead1{
    width: 50%;
    text-align: center;
    border-right: 2px solid var(--main-text-heading-color);
}
.pricingHead1 h4{
    font-size: 18px;
    font-family: 'Arial Rounded MT Bold';
    color: var(--main-text-heading-color);
    margin-top: 2%;
}
.pricingHead2{
    width: 50%;
    text-align: center;
}
.pricingHead2 h4{
    font-size: 22px;
    font-family: 'Arial Rounded MT Bold';
    color: var(--main-text-heading-color);
}
.pricingInner{
    width: 100%;
    text-align: center;
    margin-top: 6%;
}
.pricingInner p{
    font-size: 20px;
    font-family: 'Arial Rounded MT Bold';
    color: var(--main-text-heading-color);
}
.pricingText{
    font-size: 20px !important;
    color: var(--main-text-heading-color) !important;
    font-family: 'Arial-Rounded' !important; 
    margin-bottom: 2%;
    letter-spacing: 1px;
}
.pricingBtn{
    text-decoration: none;
    background: var(--main-yello-color);
    color: var(--main-button-color);
    font-size: 18px;
    font-family: 'Arial-Rounded';
    padding: 4% 8%;
    border-radius: 50px; 
    letter-spacing: 1px;
}
.pricingBtn:hover{
    color: var(--main-button-color);
}
.pricingButton{
    width: 100%;
    margin-top: 10%;
    text-align: center;
}
/* section four css end */

/* sectio 5 css start */
.sectionFiveParent{
background: url('../images/footer-bofore-image.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
margin-top: 5%;
padding: 5% 0;
}
.sectionFiveContainer{
    width: 75%;
    margin: 0 auto;
}
.sectionFiveContentPart {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 3%;
}
.sectionFiveContentPart h2{
    font-size: 55px;
    font-family: 'Arial Rounded MT Bold';
    color: var(--main-backgroun-text-color);
}
.sectionFiveContentPart p{
    font-size: 18px;
    font-family: 'Arial-Rounded';
    color: var(--main-backgroun-text-color);
    margin-top: 4%;
    width: 50%;
    letter-spacing: 1px;
}
.sectionFiveFormPartParent{
    position: relative;
    /* padding: 20% 5%; */
    height: 47vh;
}
.sectionFiveFormPart{
    background: var(--main-backgroun-text-color);
    opacity: 85%;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.sectionFiveFormPartInner {
    position: absolute;
    width: 100%;
    top: 0;
}
.formParent {
    margin: 9% 0;
}
.formInputs{
    width: 100%;
    padding: 6%;
    background: transparent;
    color: var(--main-button-color);
    border: 2px solid var(--main-button-color);
    font-size: 18px;
    font-family: 'Arial-Rounded';
    outline: none;
    margin: 4% 0%;
    border-top-right-radius: 20px;
    letter-spacing: 1px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.formbutton{
    text-align: center;
    margin-top: 8%;
}
.FormInputBtn{
    background: var(--main-yello-color);
    color: var(--main-button-color);
    font-size: 18px;
    font-family: 'Arial-Rounded';
    padding: 6.5% 13%;
    border: none;
    outline: none;
    border-radius: 50px;
    letter-spacing: 1px;
}
/* sectio 5 css end  */

/* footer css start */
.aspiroFooter{
    background: var(--main-green-color);
    padding: 3% 0;
    margin-top: 5%;
}
.footerOne{
    width: 50%;
    margin: 0 auto;
}
.footerNavigation {
    display: flex;
    justify-content: center;
}
.footerNavigation li{
list-style: none;
padding: 0 0 0 2%;
}
.footerNavigation li a{
    font-size: 17px;
    color: var(--main-backgroun-text-color);
    font-family: 'Nexa Light';
    text-decoration: none;
}
.footerTwo {
    width: 90%;
    margin: 2% auto 0 auto;
}
.footerLogo {
    text-align: center;
}
.footerLogo img {
    width: 127.1px;
    height: 111.28px;
}
.footerAddress{
    display: flex;
}
.footerAddress img{
    width: 61px;
    height: 61px;
}
.footerAdressContent h4{
    font-size: 24px;
    color: var(--main-backgroun-text-color);
    font-family: 'Arial Rounded MT Bold';
}
.footerAddressImagePart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}
.footerAdressContent p{
    font-size: 15px;
    color: var(--main-backgroun-text-color);
    font-family: 'Arial-Rounded';
    letter-spacing: 1px;
}
.footerEmailImagePart{
    width: 20%;
    
}
.footerEmailImagePart img{
    width: 61px;
    height: 61px;
}
.footerEmail {
    display: flex;
    height: 100%;
    align-items: center;
}
.footerEmailContent h4{
    font-size: 24px;
    color: var(--main-backgroun-text-color);
    font-family: 'Arial Rounded MT Bold';
}
.footerEmailContent p{
    font-size: 15px;
    color: var(--main-backgroun-text-color);
    font-family: 'Arial-Rounded'; 
    letter-spacing: 1px;
}
.footerPhone {
    display: flex;
    height: 100%;
    align-items: center;
}
.footerPhoneImagePart{
    width: 20%;
}
.footerPhoneImagePart img{
    width: 47px;
    height: 47px;  
}
.footerPhoneContent h4{
    font-size: 24px;
    color: var(--main-backgroun-text-color);
    font-family: 'Arial Rounded MT Bold';
}
.footerPhoneContent p{
    font-size: 15px;
    color: var(--main-backgroun-text-color);
    font-family: 'Arial-Rounded';
    letter-spacing: 1px;
}
.footerCopyright{
    background: var(--main-yello-color);
}
.footerCopyrightContainer{
    width: 76%;
    margin: 0% auto;
    height: 60px;
}
.copyRightLinks {
    text-align: center;
    margin-top: 4%;
}
.copyRightContent {
    margin-top: 4%;
}
.copyRightContent p{
    font-size: 15px;
    color: var(--main-copyright-color);
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
}
.copyRightLinks ul li {
    list-style: none;
}
.copyRightLinks ul li a{
    text-decoration: none;
    font-size: 15px;
    color: var(--main-copyright-color);
    font-family: 'Montserrat';
    letter-spacing: 0.5px;
}
/* footer css end */

    /* media query for desktop screen size  */
    @media (min-width: 1280px) and (max-width: 1900px){
        .bannerContent{
            /* width: 80%; */
        }
    }
    @media (min-width: 1280px) and (max-width: 1760px){
        .bannerContent{
            /* width: 83%; */
        }
        .sectionOneContainer{
            width: 77%;
        }
        .sectionTwoContainer{
            width: 67%;
        }
        .sectionThreeContainer{
            width: 67%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1740px){
        .sectionThreeContentBg h4{
          padding: 1% 2%;
        }
        
    }
    @media (min-width: 1280px) and (max-width: 1696px){
        .bannerContent{
            /* width: 85%; */
        }
        .sectionOneContainer{
            width: 80%;
        }
        .sectionTwoContainer{
            width: 69%;
        }
        .sectionThreeContainer{
            width: 69%;
        }
    }
    
    @media (min-width: 1280px) and (max-width: 1663px){
        .formSection{
            width: 95%;
        }
        .sectionThreeContentBg h4{
            padding: 1% 1%;
          }
    }
    @media (min-width: 1280px) and (max-width: 1600px){
        .bannerContent{
            /* width: 85%; */
        }
        .sectionOneRow{
            justify-content: center;
        }
        .sectionOneContainer{
            width: 83%;
        }
        .sectionTwoContainer{
            width: 1158px;
        }
        .sectionThreeContainer{
            width: 1158px;
        }
        .sectionThreeContentBg h4{
            padding: 1% 3%;
          }
          .sectionFiveContentPart p{
            width: 65%;
          }
          .footerCopyrightContainer{
            height: 75px;
          }
          /* .footerCopyrightContainer{
            width: 78%;
          } */
          .copyRightContent {
            margin-top: 6%;
        }
        .copyRightLinks{
            margin-top: 6%;
        }
        .sectionOneContainer{
            width: 1158px;
        }
        .sectionOneContentPart{
            padding: 0 6%;
        }
    }
    
    @media (min-width: 1280px) and (max-width: 1590px){
        .bannerContent{
            /* width: 85%; */
        }
        .formSection{
            width: 97%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1550px){
        .sectionTwoContainer{
            width: 73%;
        }
        .sectionThreeContainer{
            width: 76%;
        }
        .heroImage img{
            margin-left: -2%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1520px){
        .sectionOneContainer{
            width: 85%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1510px){
        .bannerContent{
            /* width: 88%; */
        }
        .formSection{
            width: 99%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1490px){
        .sectionTwoContainer{
            width: 75%;
        }
        .sectionThreeContainer{
            width: 76%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1475px){
        .sectionOneContainer{
            width: 87%;
        }
        .sectionThreeContentBg h4{
            font-size: 26px;
          }
          .footerEmailImagePart {
            width: 24%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1430px){
        .sectionOneContainer{
            width: 89%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1420px){
        .bannerContent{
            /* width: 90%; */
        }
        .formSection{
            width: 100%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1400px){
        .sectionTwoContainer{
            width: 77%;
        }
        .sectionThreeContainer{
            width: 80%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1390px){
        .sectionOneContainer{
            width: 91%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1371px){
        .bannerContent{
            /* width: 95%; */
        }
        .formSection{
            width: 100%;
        }
        .footerCopyrightContainer {
            width: 79%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1340px){
        .sectionOneContainer{
            width: 93%;
        }
        .sectionTwoContainer{
            width: 79%;
        }
        .sectionThreeContainer{
            width: 77%;
        }
    }
    @media (min-width: 1280px) and (max-width: 1300px){
        .bannerContent{
            /* width: 95%; */
            margin: 0 auto;
        }
        .formSection{
            width: 100%;
        }
        .formSection h2{
            font-size: 45px;
        }
        .sectionOneContainer{
            width: 95%;
        }
        .sectionTwoContainer{
            width: 81%;
        }
        .sectionThreeContainer{
            width: 85%;
        }
        .sectionFiveContentPart p {
            width: 70%;
        }
        .copyRightContent p {
        font-size: 14px;
        }
        .footerCopyrightContainer{
            height: 65px;
        }
    }

    /* media query for tablet */

    /* media query for mobile */
   
    @media (min-width: 320px) and (max-width: 768px) {
        .HeaderInner{
            height: 1000px;
        } 
        .heroImage{
            text-align: center;
        }
        .heroImage img{
            width: 330.7px;
            height: 333.35px;
            margin-left: -10%;
        }
        .formSection{
            width: 100%;
            padding: 5% 7%;
            margin-top: 10%;
        }
        .formSection h3{
            font-size: 27px;
            text-align: center;
        }
        .formSection h2{
            font-size: 31px;
            text-align: center;
        }
        .formSection p{
            font-size: 15px;
            width: 100%;
            text-align: center;
        }
        .formSection h4{
            font-size: 22px;
            text-align: center;
        }
        .formBtn{
            margin: 30px auto !important;
            padding: 12px 30px;
            font-size: 15px !important;
        }
        .heroForm span{
            font-size: 15px;
        }
        .heroForm input{
            margin: 0 auto;
        }

        /* section one for media query */
     .sectionOneContainer{
        width: 80%;
        margin: -16% auto 0 auto;
        padding: 10% 5%;
     }
     .sectionOneContentPart{
        width: auto;
     }
     .sectionOneContentPart h4{
        text-align: center;
        margin-top: 5%;
     }
     .sectionOneContentPart p{
        text-align: center;
        font-size: 17px !important;
     }
     .sectionOneImagePart img{
        margin-top: 5%;
     }
     /* section two for media query */
     .sectionTwoContainer{
        width: 82%;
     }
     .sectionTwoContentPart h3{
        font-size: 31px;
        text-align: center;
     }
     .sectionTwoContentPart p{
        font-size: 15px;
        text-align: center;
     }
     .sectionTwoContentPart {
        margin-top: 7%;
    }
    /* section three for media query  */
    .sectionThreeContainer{
        width: 82%;
    }
    .sectionThreeContentPart {
        margin-top: 7%;
    }
    .sectionThreeContentPart h3{
        font-size: 31px;
        text-align: center;
    }
    .sectionThreeContentBg ul li{
        font-size: 17px;
        text-align: center;
    }
    .sectionThreeImagePart{
     text-align: center;
    }
    .sectionThreeImagePart img {
        position: relative;
        top: 36px;
        height: 100px;
        width: 100px;
    }
    .sectionThreeContentBg h4{
        font-size: 20px;
        text-align: center;
        padding: 10% 5%;
    }
    .sectionThreeContentBg ul {
        margin: 12% 0;
    }
    .sectionThreeContentPart .row {
        margin-top: 0px !important;
    }
    /* section four for media query */
    .sectionFourParent{
        margin-top: 7%;
        padding: 10% 3%;
    }
    .pricingInner p{
        font-size: 18px;
    }
    .pricingText{
        font-size: 17px;
    }
    .pricingBtn{
        font-size: 16px;
    }
    /* section five for media query */
    .sectionFiveParent{
        margin-top: 15%;
        padding: 0;
        height: 950px;
    }
    .sectionFiveContentPart{
        padding: 7% 3%;
    }
    .sectionFiveContainer{
        width: 90%;
    }
    .sectionFiveContentPart p{
        width: 100%;
        text-align: center;
    }
    .sectionFiveContentPart h2{
        font-size: 45px;
        text-align: center;
    }
    .sectionFiveFormPartParent{
        height: 75vh;
    }
    .formParent {
        margin: 9% 5%;
    }
    .formInputs{
        padding: 4% 5%;
    }
    .FormInputBtn{
        padding: 5% 11%;
        font-size: 17px;
    }
    /* footer css start */
    .aspiroFooter{
        margin-top: 15%;
        padding: 10% 0;
    }
    .footerNavigation{
        display: block;
        text-align: center;
    }
    .footerNavigation li{
        padding: 3% 0;
    }
    .footerLogo img{
        margin-top: 10%;
    }
    .footerAddress{
        margin-top: 14%;
        justify-content: center;
    }
    .footerEmail{
        margin-top: 10%;
        justify-content: center;
        margin-right: 7%;
    }
    .footerPhone{
        margin-top: 14%;
        justify-content: center;
        margin-right: 15%;
    }
    .footerCopyright{
        padding: 5% 0;
    }
    .footerCopyrightContainer{
        height: auto;
    }
    .footerCopyrightContainer{
        width: 95%;
    }
    .copyRightContent p{
        font-size: 14px;
        text-align: center;
    }
    }

    @media screen and (max-width: 375px) {
        .sectionFiveFormPartParent {
            height: 95vh;
        }
    }
    @media screen and (max-width: 360px) {
        .sectionOneImagePart img{
            width: 235.94px;
            height: 235.08px;
        }
        .sectionFiveFormPartParent {
            height: 79vh;
        }
    }
    